// application
.v-application {
  background: $white !important;
  font: 300 #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-weight: 300;

  .container {
    max-width: 1200px;
  }

  .responsiveMenu {
    a {
      color: $black;
    }
  }
}

// block
.under-line {
  padding: 60px 0;
  border-bottom: 1px solid darken($white, 10%);

  @media only screen and (max-width: 599px) {
    padding: 20px 0;
  }

  .sub-under-line {
    font-size: 30px;
    padding: 0 0 10px;
    margin: 0 0 40px;
    position: relative;

    @media only screen and (max-width: 599px) {
      font-size: 24px;
      padding: 0 0 5px;
      margin: 0 0 25px;
    }

    &:after {
      content: '';
      background: $black;
      width: 60px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: 599px) {
        width: 30px;
      }
    }
  }
}

.big-words {
  font-size: 50px;
  padding: 0 0 10px;
  margin: 0 0 40px;
}

.gray-back {
  background: darken($white, 4%);
}

// iframe
iframe {
  border: 0;

  @media only screen and (max-width: 599px) {
    height: 300px;
  }
}

// static hero
.staticHero {
  @media only screen and (max-width: 767px) {
    height: 130px;
  }

  .v-image {
    @media only screen and (max-width: 767px) {
      height: 100%;
    }
  }

  .headline {
    @media only screen and (max-width: 767px) {
      font-size: 20px !important;
    }
  }
}

// not found
.notFound .fas {
  font-size: 40px;
  margin: 0 0 40px;
}