<template>
  <v-data-table :headers="headers" :items="campaigns" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Daftar Campaign</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Tambah
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="Nama"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.description"
                      label="Deskripsi"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.amountDonation"
                      label="Total Donasi"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.amountTarget"
                      label="Target"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.startDate"
                      label="Tanggal Mulai"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.endDate"
                      label="Tanggal Berakhir"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.beneficiary"
                      label="Penerima"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Tidak </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Ya </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline"
              >Anda yakin ingin dihapus ?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Tidak</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >Ya</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Nama",
        value: "name",
      },
      { text: "Deskripsi", value: "description" },
      { text: "Total Donasi", value: "amountDonation" },
      { text: "Target", value: "amountTarget" },
      { text: "Tanggal Mulai", value: "startDate" },
      { text: "Tanggal Berakhir", value: "endDate" },
      { text: "Penerima", value: "beneficiary" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    campaigns: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      description: "",
      amountDonation: 0,
      amountTarget: 0,
      startDate: 0,
      endDate: 0,
      beneficiary: "",
    },
    defaultItem: {
      name: "",
      description: "",
      amountDonation: 0,
      amountTarget: 0,
      startDate: 0,
      endDate: 0,
      beneficiary: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.campaigns = [
        {
          name: "Bencana Maroko",
          description: "Bencana Maroko",
          amountDonation: 100000,
          amountTarget: 100000000,
          startDate: "2018-03-02",
          endDate: "2018-05-02",
          beneficiary: "Warga Maroko",
        },
        {
          name: "Bencana Maroko",
          description: "Bencana Maroko",
          amountDonation: 100000,
          amountTarget: 100000000,
          startDate: "2018-03-02",
          endDate: "2018-05-02",
          beneficiary: "Warga Maroko",
        },
        {
          name: "Bencana Maroko",
          description: "Bencana Maroko",
          amountDonation: 100000,
          amountTarget: 100000000,
          startDate: "2018-03-02",
          endDate: "2018-05-02",
          beneficiary: "Warga Maroko",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.campaigns.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.campaigns.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.campaigns.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.campaigns[this.editedIndex], this.editedItem);
      } else {
        this.campaigns.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>