<template>
  <v-data-table :headers="headers" :items="transaction" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Daftar Transaksi</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Tambah
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.campaignName"
                      label="Nama Campaign"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.donorName"
                      label="Pendonasi"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.donorPhoneNo"
                      label="Donasi"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.amount"
                      label="Nominal"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.bankName"
                      label="Nama Bank"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.paymentType"
                      label="Jenis Pembayaran"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.Status"
                      label="Status"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Tidak </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Ya </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline"
              >Anda yakin ingin dihapus ?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Tidak</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >Ya</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Nama Campaign",
        value: "campaignName",
      },
      { text: "Pendonasi", value: "donorName" },
      { text: "No.Telphone", value: "donorPhoneNo" },
      { text: "Donasi", value: "amount" },
      { text: "Nama Bank", value: "bankName" },
      { text: "Jenis Pembayaran", value: "paymentType" },
      { text: "Status", value: "Status" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    transaction: [],
    editedIndex: -1,
    editedItem: {
      campaignName: "",
      donorName: "",
      donorPhoneNo: 0,
      amount: 0,
      bankName: 0,
      paymentType: 0,
      Status: "",
    },
    defaultItem: {
      campaignName: "",
      donorName: "",
      donorPhoneNo: 0,
      amount: 0,
      bankName: 0,
      paymentType: 0,
      Status: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.transaction = [
        {
          campaignName: "Bencana Maroko",
          donorName: "Peter",
          donorPhoneNo: +62812345678,
          amount: 100000,
          bankName: "BCA",
          paymentType: "Kartu Kredit",
          Status: "PENDING",
        },
        {
          campaignName: "Bencana Maroko",
          donorName: "Hans",
          donorPhoneNo: +62812345678,
          amount: 100000,
          bankName: "BNI",
          paymentType: "Debit",
          Status: "APPROVED",
        },
        {
          campaignName: "Bencana Maroko",
          donorName: "Mark",
          donorPhoneNo: +62812345678,
          amount: 100000,
          bankName: "Bank Mandiri",
          paymentType: "Kartu Kredit",
          Status: "PENDING",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.transaction.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.transaction.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.transaction.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.transaction[this.editedIndex], this.editedItem);
      } else {
        this.transaction.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>