<template>
  <v-card class="mx-auto" max-width="300" max-height="500" tile>
    <v-list>
      <v-list-item-group color="primary">
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.link">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    items: [
      { text: "Dashboard", icon: "mdi-view-dashboard", link: "/dashboard" },
      { text: "Campaign", icon: "mdi-bullhorn", link: "/campaign" },
      { text: "Bank", icon: "mdi-bank", link: "/bank" },
      { text: "Transaksi", icon: "mdi-credit-card", link: "/transaksi" },
    ],
  }),
};
</script>