<template>
  <v-content class="gray-back">
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="3" sm="3">
          <SideBar />
        </v-col>
        <v-col cols="12" md="9" sm="9">
          <BankPage />
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import SideBar from "../components/layout/SideBar";
import BankPage from "../components/bank/BankPage";
export default {
  name: "Bank",

  components: {
    SideBar,
    BankPage,
  },

  data: () => ({}),
};
</script>