<template>
  <v-content>
    <Hero />
    <Campaign />
  </v-content>
</template>

<script>
import Hero from "../components/home/Hero";
import Campaign from "../components/home/Campaign";
export default {
  name: "Home",

  components: {
    Hero,
    Campaign,
  },

  data: () => ({}),
};
</script>