<template>
  <v-content>
    <LoginForm />
  </v-content>
</template>

<script>
import LoginForm from "../components/login/LoginForm";
export default {
  name: "Login",

  components: {
    LoginForm,
  },

  data: () => ({}),
};
</script>