<template>
  <v-content>
    <RegisterForm />
  </v-content>
</template>

<script>
import RegisterForm from "../components/register/RegisterForm";
export default {
  name: "Register",
  components: {
    RegisterForm,
  },
  data: () => ({}),
};
</script>