<template>
  <v-content class="gray-back">
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="3" sm="3">
          <SideBar />
        </v-col>
        <v-col cols="12" md="9" sm="9">
          <TransactionPage />
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import SideBar from "../components/layout/SideBar";
import TransactionPage from "../components/transactions/TransactionPage";
export default {
  name: "Transaction",

  components: {
    SideBar,
    TransactionPage,
  },

  data: () => ({}),
};
</script>