<template>
  <div class="block under-line">
    <v-container>
      <h2 class="sub-under-line text-center text-tengah">Donasi</h2>
      <v-row class="mt-10">
        <v-col
          v-for="item in items"
          :key="item.id"
          class="d-flex child-flex"
          cols="4"
        >
          <v-card outlined elevation="2" class="mx-auto" max-width="344">
            <v-img
              class="white--text align-end"
              max-height="200"
              max-width="350"
              :src="item.picture"
            >
            </v-img>
            <v-card-subtitle>
              <h2 class="mt-5 text-center">{{ item.subtitle }}</h2>
            </v-card-subtitle>
            <v-card-text>
              <p>
                {{ item.text }}
              </p>
            </v-card-text>
            <v-col cols="12" md="12">
              <v-progress-linear
                v-model="item.cash_progress"
                rounded
                height="10"
              >
                <!-- <strong>{{ Math.ceil(item.knowledge) }}%</strong> -->
              </v-progress-linear>
            </v-col>
            <v-card-text>
              <p>
                Terkumpul : <br /><strong>Rp. {{ item.cash_text }}</strong>
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Campaign",

  data: () => ({
    items: [
      {
        id: 1,
        picture: require("../../assets/img/campaign/innova.jpg"),
        subtitle: "Bantu Membuat Madrasah & Asrama Santri Modern",
        text: "Best Concealed Carry Pocket Knives for Everyday Carry",
        cash_progress: 20,
        cash_text: "10.543.000",
      },
      {
        id: 2,
        picture: require("../../assets/img/campaign/bike.jpg"),
        subtitle: "Bantu Palestina Lewati Musim Dingin Mematikan",
        text: "Best Concealed Carry Pocket Knives for Everyday Carry",
        cash_progress: 80,
        cash_text: "420.543.000",
      },
      {
        id: 3,
        picture: require("../../assets/img/campaign/hands.jpg"),
        subtitle: "Sedekah Jariyah 10.000 Qur'an untuk Korban Bencana",
        text: "Best Concealed Carry Pocket Knives for Everyday Carry",
        cash_progress: 60,
        cash_text: "113.543.000",
      },
    ],
  }),
};
</script>

<style scooped>
.icon-center {
  margin: 10px 0 0 100px;
}
</style>