<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" md="6">
        <v-card class="elevation-12">
          <!-- <v-window v-model="step">
            <v-window-item :value="1"> -->
          <v-card-text class="mt-12">
            <h1 class="text-center display-2 blue--text">Daftar</h1>
            <v-form>
              <v-text-field
                label="Username"
                v-model="username"
                type="text"
                prepend-icon="mdi-account"
                color="blue accent-3"
                required
                :rules="usernameRules"
              ></v-text-field>
              <v-text-field
                label="Password"
                v-model="password"
                type="password"
                prepend-icon="mdi-lock"
                color="blue accent-3"
                required
                :rules="passwordRules"
              ></v-text-field>
              <v-text-field
                label="Email"
                v-model="email"
                type="email"
                prepend-icon="mdi-email"
                color="blue accent-3"
                required
                :rules="passwordRules"
              ></v-text-field>
            </v-form>
            <div class="text-center mt-3">
              <v-btn
                class="text-capitalize"
                rounded
                color="blue accent-3"
                dark
                :disabled="!valid"
                @click="doRegister()"
                >Daftar</v-btn
              >
            </div>
          </v-card-text>
          <!-- </v-window-item>
          </v-window> -->
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import HTTP from "../service/Api";
import Axios from "axios";
export default {
  data: () => ({
    valid: true,
    username: "",
    usernameRules: [(v) => !!v || "Username is required"],
    password: "",
    passwordRules: [(v) => !!v || "Password is required"],
    result: null,
    data: "",
  }),
  methods: {
    doRegister() {
      let username = this.username;
      let password = this.password;
      this.$store
        .dispatch("GET_AUTHENTICATED", { username, password })
        .then(() => this.$router.push("/dashboard"))
        .catch((err) => console.log(err));
      // Axios.post(
      //   `oauth/token?grant_type=password&username=${this.username}&password=${this.password}`,
      //   {
      //     auth: {
      //       username: "myclientId",
      //       password: "mysecret",
      //     },
      //   }
      // )
      //   .then((response) => {
      //     this.result = response.data;
      //     console.log("isi result", this.result);
      //     this.$router.push("/dashboard");
      //   })
      //   .catch((error) => {
      //     console.log("AXIOS ERROR", error);
      //   });
    },
  },
};
</script>