<template>
  <v-app>
    <v-app-bar app flat class="white">
      <Header />
    </v-app-bar>

    <router-view></router-view>

    <v-footer class="indigo lighten-1 white--text text-center">
      <Footer />
    </v-footer>
  </v-app>
</template>

<script>
import Header from "./components/layout/Header";
import Footer from "./components/layout/Footer";

export default {
  name: "App",

  components: {
    Header,
    Footer,
  },

  data: () => ({
    tokenAccess: {},
  }),

  methods: {
    loggedIn() {
      let loop = setInterval(() => {
        console.log("panggil role akses");
        this.tokenAccess = this.$store.getters.PROFILE;
        console.log("isi token akses", this.tokenAccess);
      });
      clearInterval(loop);
    },
  },

  mounted() {
    this.loggedIn();
  },
};
</script>
